.bg{background-image: url('../../assets/Images/laptop-2838921_1920.jpg'); background-position: center center;
min-height: 100vh;display: flex; justify-content: center;align-items: center;
}
.user-area{margin-top: 120px;margin-bottom: 10px;box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.51);width:500px;
  min-height: 550px; background-color: white; position: relative;
  border-radius: 40px;}
  #bg-filter{width: 100%; height: 100%; background-color: black !important; opacity: 0.5;position: absolute;}
  .success{color:#128f06; font-weight: 700;}
  .user-data-content{margin-top: 70px;padding-left: 40px}
  .user-data-content h2{color: #6E9400; font-weight: 700; font-size: 2.6rem}
  .user-data-content h2::before{content: 'Registrati'; display: block; position: absolute; margin-top: -60px;
  font-size: 6rem; opacity: 0.5}
  .links{display: flex; list-style: none !important}
  .links li{padding-right: 12px}
  .links a{cursor: pointer;font-size:1.2rem;color: black ; text-decoration: none !important; transition: 0.6s;font-weight: 700;}
  .links{padding: 0px; margin-top: 15px}
  .links a.active{color: #2F5280 !important;}
  .links a::after{transition: 0.5s;display: block; content: ''; height: 3px; background-color: #2F5280;margin-top:-2px;width: 0%;}
  .links a.active::after{width: 100%}
  .links a:hover{color: #2F5280 !important;}
  .links a:hover::after{width: 100%}
  .iconInput{width:18px; height: 18px;position: absolute;margin-top: 2px; opacity: 0.60;}
  .inputs{margin-top: -50px}
  form{margin-top:60px}
  form input{display: block; padding-left: 25px}
  input{border: none !important; border-bottom: #333333 solid 3px !important; width: 90%; margin-bottom: 10px; outline: none !important;
    margin-top:25px;}
    .error{margin-bottom:5px !important;color:#d11e11; font-size: 1.05}
    #forgot-password a{font-weight: 700;color: black}
    button[type="submit"]{text-align: center;margin-bottom: 20px;margin-top:20px;border: #163F73  solid 3px; color: #163F73;
      font-weight: 700;border-radius: 20px;outline:none !important; background:transparent; transition: 0.6s;
      display: block;position: absolute;
      width: 150px; height: 50px;z-index: 10 !important;

    }
    button[type="submit"]:hover{background-color:#163F73 !important; color:white}
    button[type="submit"]:disabled{opacity: 0.7; border: grey solid 3px !important; color: grey !important; background: transparent !important}
    .spinner{width: 60px; height: 60px; margin-left: 40px; margin-top: 15px;z-index: -1}
    button[type="submit"].success{background-color:#32a852!important; border: #32a852 solid 3px !important;color: white}
    .password_eye{cursor: pointer;position: absolute;right: 0; margin-top: 25px; margin-right:50px;width: 25px; height: 25px}
    .verifiedIcon{height: 25px; width: 25px; position: absolute;right: 0; margin-right: 10px; margin-top: 30px}
  
    @media only screen and (max-width: 482px) {

      .user-data-content h2::before{font-size: 4rem;margin-top: -30px}

    }


    @media only screen and (max-width: 380px) {
      .user-data-content{padding-left: 20px}
      .bg{padding: 0px !important; align-items:flex-start;}
      .user-area{ ;border-radius: 0px; margin-bottom: 0px; margin-top: 70px}
      .bg{min-height: 550px;}
    }

    @media only screen and (max-width: 450px) {
    input{width: 85%}

    }
