<div id="bg-filter"></div>
<div class="bg container-fluid">
  <div class="user-area">
    <div class="" style="width:100%">
      <div class="user-data-content">
        <div style="margin-bottom:20px">
          <a routerLink="/accedi" id="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 23.122 19.236">
              <path id="right_arrow_blue"
              d="M.37,50.065l8.35-8.35a1.269,1.269,0,0,1,1.79,0l.758.758a1.256,1.256,0,0,1,.369.895,1.281,1.281,0,0,1-.369.905L6.4,49.156H21.873A1.235,1.235,0,0,1,23.122,50.4v1.072a1.282,1.282,0,0,1-1.249,1.3H6.341l4.926,4.909a1.253,1.253,0,0,1,0,1.777l-.758.756a1.269,1.269,0,0,1-1.79,0l-8.35-8.35a1.276,1.276,0,0,1,0-1.8Z" transform="translate(0 -41.346)" fill="#2f5280"/>
            </svg>
          </a>
        </div>
        <h2 style="margin-left:-5px">Resetta Password</h2>
        <p *ngIf="token == undefined" style="color:#2e2e2e;">Scrivi l'email del tuo account qui sotto:</p>
        <div [@sectionAnim] *ngIf="token == undefined"  [@sectionAnim] class="inputs">
          <form ngSubmit="submitEmail();" [formGroup]="requestForm">
            <div  class="container-input">
              <img class="iconInput" src="../../assets/Icon/email.svg">
              <input formControlName="email" placeholder="Inserisci la tua email" type="email">
            </div>
            <div style="position:relative;height:60px ">
              <button [class.success]="success==true" [class.error]="buttonState == 'error'" [@btnAnim]="buttonState" (click)="submitEmail()" [disabled]="requestFormValid()" type="submit">{{requestButton}}</button>
              <img  *ngIf="spinner"  class="spinner" src="../../assets/Icon/spinner.svg" alt="">
            </div>
          </form>
          <p *ngIf="success" class="success">La richista di reset della password, è stata inviata alla tua email</p>
          <p class="error">{{sendEmailError}}</p>
        </div>
        <div [@sectionAnim] *ngIf="token != undefined" id="reset_password">
          <form [formGroup]="passwordForm">
            <div class="container-input d-flex">
              <img class="iconInput" src="../../assets/Icon/key.svg">
              <input type="password" formControlName="password" placeholder="Inserisci la nuova password">
              <img  (click)="passwordToggle($event)" class="password_eye" src="../../assets/Icon/password-reveal-off.svg">
              <img *ngIf="!passwordForm.controls.password.errors" class="verifiedIcon" src="../../assets/Icon/verified.svg">
              <img *ngIf="passwordForm.controls.password.errors && passwordForm.controls.password.dirty" class="verifiedIcon" src="../../assets/Icon/wrong.svg">
            </div>
            <p *ngIf="passwordForm.controls.password.errors && passwordForm.controls.password.errors.pattern" class="textError">La password non è valida</p>
            <div class="container-input d-flex">
              <img class="iconInput" src="../../assets/Icon/key.svg">
              <input type="password" formControlName="repeat_password" placeholder="Inserisci di nuovo la password">
              <img  (click)="passwordToggle($event)" class="password_eye" src="../../assets/Icon/password-reveal-off.svg">
              <img *ngIf="!passwordForm.controls.repeat_password.errors" class="verifiedIcon" src="../../assets/Icon/verified.svg">
              <img *ngIf="passwordForm.controls.repeat_password.errors && passwordForm.controls.repeat_password.dirty" class="verifiedIcon" src="../../assets/Icon/wrong.svg">
            </div>
            <p *ngIf="passwordForm.controls.repeat_password.errors && passwordForm.controls.repeat_password.errors.notEqual" class="textError">Le due password non coincidono</p>
            <div style="position:relative;height:50px;">
              <button [class.success]="success==true" [class.error]="buttonState == 'error'" [@btnAnim]="buttonState" (click)="submitPasswordRequest();" [disabled]="passwordFormValid()" type="submit">{{passwordButton}}</button>
              <img  *ngIf="spinner"  class="spinner" src="../../assets/Icon/spinner.svg" alt="">
            </div>
          </form>
          <p style="margin-top:10px !important" class="error">{{passwordResetError}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
